version: "3.7"

services:
  db:
    container_name: "xbs-db"
    environment:
      MONGO_INITDB_DATABASE: $DB_NAME
      MONGO_INITDB_ROOT_PASSWORD: /run/secrets/db_password
      MONGO_INITDB_ROOT_USERNAME: /run/secrets/db_username
      XBS_DB_NAME: $DB_NAME
      XBS_DB_PASSWORD: /run/secrets/db_password
      XBS_DB_USERNAME: /run/secrets/db_username
    secrets:
      - db_password
      - db_username
    image: "mongo:4.4.4"
    restart: "unless-stopped"
    volumes:
      - "xbs-db-data:/data/db"
      - "xbs-db-backups:/data/backups"
      - "./mongoconfig.js:/docker-entrypoint-initdb.d/mongoconfig.js"
  api:
    container_name: "xbs-api"
    depends_on:
      - "db"
    environment:
      XBROWSERSYNC_DB_PWD: /run/secrets/db_password
      XBROWSERSYNC_DB_USER: /run/secrets/db_username
    secrets:
      - db_password
      - db_username
    healthcheck:
      test: [ "CMD", "node", "/usr/src/api/healthcheck.js" ]
      interval: "1m"
      timeout: "10s"
      retries: "5"
      start_period: "30s"
    image: "xbrowsersync/api:1.1.13"
    ports:
      - "6001:8080"
    restart: "unless-stopped"
    volumes:
      - "./settings.json:/usr/src/api/config/settings.json"
      - "./healthcheck.js:/usr/src/api/healthcheck.js"

secrets:
  db_password:
    file: ./db-password-secret.txt
  db_username:
    file: ./db-username-secret.txt

volumes:
  xbs-caddy-config: /home/home-admin/docker-volumes/xbrowser-sync/db/configdb
  xbs-caddy-data:
  xbs-db-backups: /home/home-admin/docker-volumes/xbrowser-sync/db/backups
  xbs-db-data: /home/home-admin/docker-volumes/xbrowser-sync/db/db
